# Base de Datos MYSQL

In [41]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import mysql.connector

Se utilizara HEROKU, por lo cual en la siguiente linea de codigo se hara una especificacion de la url, nombre de usuario, etc. La base de datos estara en la nube

In [1]:
retoDB = mysql.connector.connect(
    host = "us-cdbr-east-04.cleardb.com",
    user="bf26d23eee2a45",
    password="13abc30a",
    database ="heroku_a623e026293c263"
)

cursor = retoDB.cursor(buffered=True)

NameError: name 'mysql' is not defined

## Creacion de las Tablas

### Tabla Alumno

In [49]:
query = """
CREATE TABLE alumno
(
    idAlumno int not null auto_increment primary key,
    nombre varchar(30) not null unique,
    matricula varchar(9) not null unique
)
"""
cursor.execute(query)

OperationalError: 2055: Lost connection to MySQL server at 'us-cdbr-east-04.cleardb.com:3306', system error: 32 Broken pipe

### Tabla Parametro

In [25]:
query = """
CREATE TABLE parametro
(
    idParametro int not null auto_increment primary key,
    min int not null unique,
    max int not null unique
)
"""
cursor.execute(query)

### Tabla Cuarto

In [29]:
query = """
CREATE TABLE cuarto
(
    idCuarto int not null auto_increment primary key,
    numMaxPersonas int not null,
    dimensiones varchar(250) not null,
    numActualPersonas int not null,
    numDelSalon int not null unique
)
"""
cursor.execute(query)

### Tabla Medicion

In [37]:
query = """
CREATE TABLE medicion
(
    idMedicion int not null auto_increment primary key,
    value DECIMAL not null,
    gasType varchar(25) not null,
    idAlumno int,
    FOREIGN KEY (idAlumno) REFERENCES alumno(idAlumno),
    idCuarto int,
    FOREIGN KEY (idCuarto) REFERENCES cuarto(idCuarto),
    idParametro int,
    FOREIGN KEY (idParametro) REFERENCES parametro(idParametro)
)
"""
cursor.execute(query)

### Tabla Salon

In [67]:
query = """
CREATE TABLE salon
(
    idSalon int not null auto_increment primary key,
    numSalon int not null unique
)
"""
cursor.execute(query)

### Actualizar Tabla cuarto

In [69]:
query = """
ALTER TABLE cuarto DROP COLUMN numDelSalon
"""
cursor.execute(query)

retoDB.commit()

In [72]:
query = """
ALTER TABLE cuarto ADD COLUMN idSalon int not null
"""
cursor.execute(query)
retoDB.commit()

In [82]:
query = """
ALTER TABLE cuarto ADD CONSTRAINT fk_id_salon FOREIGN KEY (idSalon) REFERENCES salon(idSalon)
"""
cursor.execute(query)
retoDB.commit()